
@{
    ViewBag.Title = "InterNational";
}
<div class="main-content">
    <h2 class="text-center">InterNational Faculty Members</h2>
    <div class="rs-team grid2 pt-100 pb-70 md-pt-80 md-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Haroon Aziz Khan Babar.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Haroon Aziz Khan Babar</a></h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
