
@{
    ViewBag.Title = "InterNational";
}
<style>
    #more,#more2,#more3,#more4 {
        display: none;
    }
</style>
<div class="main-content">
    <h2 class="text-center">InterNational Faculty Members</h2>
    <div class="rs-team grid2 pt-100 pb-70 md-pt-80 md-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/FacultyIn/1.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                @*<h3 class="team-name"><a href="#" class="text-capitalize">Haroon Aziz Khan Babar</a></h3>*@
                                <p align="justify">
                                    President, Heart failure Association of the ESC Academician, Serbian Academy of Sciences and Arts Professor of Internal Medicine <span id="dots">...</span>
                                    <span id="more"> University of Belgrade School of Medicine Professor, Heart Failure Center, Belgrade University Medical Center President, Heart Failure Society of Serbia Coauthored 606 publications, with cumulative impact factor of 1078 (h-index 36), including multiple papers in peer-reviewed international journals. He has a total citation of 17833 (Google Scholar) / 14298 (Scopus). He presented more than 260 lectures at International conferences.</span>
                                </p>
                                <a herf="" onclick="myFunction()" id="myBtn"><u>(Read more)</u></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/FacultyIn/2.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                @*<h3 class="team-name"><a href="#" class="text-capitalize">Haroon Aziz Khan Babar</a></h3>*@
                                <p>
                                    MD, PhD, Cardiologist, Clinical pharmacologist.
                                    Trained at Université de Lorraine, Université of Lyon, France and Medical Research Council (Oxford, UK)<span id="dots2">...</span>
                                    <span id="more2"> Currently, Emeritus Professor of Therapeutics at Université de Lorraine, France. As a trialist, he contributed to building the evidence supporting modern HF therapy, notably with beta-blockers, RAASi and MRAs. As a clinical scientist his work focuses on fibrosis and biomarkers. He has served as Chairman of the French Society of Hypertension, of the ESC Working Group on Pharmacology and Drug Therapy. He is the founder of the Global CardioVascular Clinical Trialists (CVCT) Forum and Workshop with meetings in Paris, Washington DC, in Asia and the Middle East. Professor Zannad published more than 750 peer-reviewed papers. He received the 2014 European Society of Hypertension Paul Milliez Award and the 2017 Lifetime Achievement Award from the ESC-HFA and served as an Eugene Braunwald Scholar in 2019 at Harvard Medical School.</span>
                                </p>
                                <a herf="" onclick="New()" id="myBtn2"><u>(Read more)</u></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/FacultyIn/3.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                @*<h3 class="team-name"><a href="#" class="text-capitalize">Haroon Aziz Khan Babar</a></h3>*@
                                <p align="justify">
                                    Dr Jack Tan is the immediate past president of the Singapore Cardiac Society and previous<span id="dots3">...</span>
                                    <span id="more3"> continental chair of the WHF. Currently he is an executive board member at Singapore Heart Foundation and APSIC (Asian Pacific Society of Interventional Cardiology) . He is the standing president of APSC (Asian Pacific Society of Cardiology) and ISCP (International Society of Cardiovascular Pharmacotherapy).</span>
                                </p>
                                <a herf="" onclick="New3()" id="myBtn3"><u>(Read more)</u></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/FacultyIn/4.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                @*<h3 class="team-name"><a href="#" class="text-capitalize">Haroon Aziz Khan Babar</a></h3>*@
                                <p align="justify">
                                    Nannette R Rey is ISCP Governor for the Philippines<span id="dots4">...</span>
                                    <span id="more4"> ISCP Governors act as representatives for different countries worldwide to encourage local participation and contribute to the ISCP’s educational programmes.Dr Rey is Assistant Professor at De La Salle Health Sciences Institute and Vice President of the Philippine Heart Association.</span>
                                </p>
                                <a herf="" onclick="New4()" id="myBtn4"><u>(Read more)</u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "(Read more)";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "(Read less)";
            moreText.style.display = "inline";
        }
    };
    function New() {
        var dots = document.getElementById("dots2");
        var moreText = document.getElementById("more2");
        var btnText = document.getElementById("myBtn2");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "(Read more)";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "(Read less)";
            moreText.style.display = "inline";
        }
    };
    function New3() {
        var dots = document.getElementById("dots3");
        var moreText = document.getElementById("more3");
        var btnText = document.getElementById("myBtn3");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "(Read more)";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "(Read less)";
            moreText.style.display = "inline";
        }
    };
    function New4() {
        var dots = document.getElementById("dots4");
        var moreText = document.getElementById("more4");
        var btnText = document.getElementById("myBtn4");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "(Read more)";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "(Read less)";
            moreText.style.display = "inline";
        }
    };
</script>