@model List<PCS.Models.NationalFaculty>
<style>
    #more {
        display: none;
    }
</style>
<!-- Main content Start -->
<div class="main-content">
    <!-- Slider Start -->
    <div id="rs-slider" class="rs-slider slider1">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img src="~/Content/Slider/Slide1.jpeg" alt="" title="#slide-1" />
                <img src="~/Content/Slider/Slide2.jpeg" alt="" title="#slide-1" />
                <img src="~/Content/Slider/Slide3.jpeg" alt="" title="#slide-1" />
                
            </div>
            <!-- Slide 1 -->
            <div id="slide-1" class="slider-direction">
                <div class="container">
                    <div class="content-part">
                        <div class="slider-des">
                            <h3 class="sl-title white-color">21<sup>st</sup> Annual Cardiology Update</h3>
                            <div class="sl-desc">
                                <p style="font-family:Playfair Display">
                                    21st Annual Cardiology Update
                                    Pakistan Institute of Medical Sciences, Islamabad, Pakistan, is organizing “21st Annual Cardiology Update”, from 30 <sup>Th</sup> July TO 1 <sup>St</sup> August 2021, at Pearl Continental Hotel, Bhurban<span id="dots">...</span><span id="more">This conference is a partnered collaboration between Pakistan Cardiac Society, American College of Cardiology, European Society of Cardiology, Asian Pacific Society of Cardiology, Pakistan Society of Intervention Cardiology and Pakistan Hypertension League. This is completely an academic event in which eminent cardiologist professors / doctors from all over the country are participating.This year’s theme is “Updates on use of anti thrombotic/anticoagulants in cardiovascular diseases”.</span>
                                </p>
                                <a herf="" onclick="myFunction()" style="color:white" id="myBtn"><u>(Read more)</u></a>
                            </div>

                        </div>
                        @*<div class="slider-bottom">
                                <ul>
                                    <li><a href="#rs-register" class="readon banner-style">Register</a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            @*<div id="slide-2" class="slider-direction">
                    <div class="container">
                        <div class="content-part">
                            <div class="slider-des">
                                <h1 class="sl-title white-color">Need Better Plan To Start Business </h1>
                                <div class="sl-desc">
                                    Lorem Ipsum is simply dummy text of the printing and type setting has been the industry's standard dummy text.
                                </div>
                            </div>
                            <div class="slider-bottom">
                                <ul>
                                    <li><a href="#" class="readon banner-style">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <!-- Slider End -->
    <!-- Team Section Start -->
    <div id="rs-team" class="rs-team slider1 pt-92 pb-92 md-pt-72 md-pb-50">
        <div class="container">
            <div class="sec-title text-center mb-60 md-mb-42">
                <h2 class="title mb-14">Organizing Committee</h2>
            </div>
            <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-lg-device="4" data-md-device-nav="false" data-md-device-dots="true">
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Fazlul Aziz mian.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Fazlul Aziz Mian</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Mehboob ur Rehman.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Mehboob ur Rehman</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Muhammad naeem malik.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Muhammad Naeem Malik</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Syed Nasir Ali shah.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Syed Nasir Ali shah</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/M. Shafique Arshad.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">M.Shafique Arshad</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Akhtar Ali bandeshah.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Akhtar Ali Bandeshah</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Iqbal.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Iqbal</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Farhan Faisal.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Farhan Faisal</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Faridullah Khan.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Faridullah Khan</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Mahrukh Zahoor.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Mahrukh Zahoor</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Shahab Saidullah.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Shahab Saidullah</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Section End -->
    <!-- Partner two Section Start -->
    <div id="rs-Part" class="rs-partner gray-bg pt-70 pb-98 md-pb-80">
        <div class="container">
            <div class="sec-title text-center mb-60 md-mb-42">
                <h2 class="title mb-14">Our Partners</h2>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <a href=""><img src="~/Content/FinalLogo/ACC.png" alt=""></a>
                </div>
                <div class="partner-item">
                    <a href=""><img src="~/Content/FinalLogo/ESC.png" alt=""></a>
                </div>
                <div class="partner-item">
                    <a href=""><img src="~/Content/FinalLogo/PCS.png" alt=""></a>
                </div>
                <div class="partner-item">
                    <a href=""><img src="~/Content/FinalLogo/PSI.png" alt=""></a>
                </div>
                <div class="partner-item">
                    <a href=""><img src="~/Content/FinalLogo/APSC.png" alt=""></a>
                </div>
                <div class="partner-item">
                    <a href=""><img src="~/Content/FinalLogo/PHL.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner TWo Section End -->
    <!-- Partner Section End -->
    @*live seesion start*@
    <div id="rs-live" class="rs-contact style1 gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            <div class="white-bg">
                <div class="row">
                    <div class="col-lg-12 form-part">
                        <div class="sec-title mb-35 md-mb-30">
                            <h2 class="title mb-0">Live Session</h2>
                        </div>
                        <div style="position: relative;overflow: hidden;width: 100%;padding-top: 56.25%;">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*live seesion End*@

    <!-- national faculty Start -->
    <div id="rs-faculty" class="rs-contact style1 gray-bg pt-100 pb-100 md-pt-100 md-pb-100" style="margin-top:-90px">
        <div class="container">
            <div class="white-bg">
                <div class="row">
                    <div class="col-lg-12 form-part">
                        <div class="sec-title mb-35 md-mb-30">
                            <h2 class="title mb-0">National Faculty</h2>
                        </div>
                        <table id="My" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr #</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lst in Model)
                                {
                                    <tr>
                                        <td>@lst.id</td>
                                        <td>@lst.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- national faculty End -->
    <!-- Innational faculty Start -->
    <div id="rs-Infaculty" class="rs-contact style1 gray-bg pt-100 pb-100 md-pt-100 md-pb-100" style="margin-top:-90px">
        <div class="container">
            <div class="white-bg">
                <div class="row">
                    <div class="col-lg-12 form-part">
                        <div class="sec-title mb-35 md-mb-30">
                            <h2 class="title mb-0">International Faculty</h2>
                        </div>
                        <table id="You" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr #</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lst in ViewBag.Data)
                                {
                                    <tr>
                                        <td>@lst.id</td>
                                        <td>@lst.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Innational faculty End -->
</div>
<!-- Main content End -->

<script>

    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "(Read more)";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "(Read less)";
            moreText.style.display = "inline";
        }
    };

</script>