
@{
    ViewBag.Title = "PCS";
}
<div class="main-content">
    <h2 class="text-center">PCS COUNCIL</h2>
    <div class="rs-team grid2 pt-100 pb-70 md-pt-80 md-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Haroon Aziz Khan Babar.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Haroon Aziz Khan Babar</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Fawad Farooq.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Fawad Farooq</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Feroz Memon.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Feroz Memon</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Sohail Aziz.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Sohail <br />Aziz</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Syed Ishtiaq Rasool.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Syed Ishtiaq Rasool</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Tariq Ashraf.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Tariq <br /> Ashraf</a></h3>
                            </div>
                            </div>
                        </div>
                    </div>
             
           
                </div>
            <div class="row text-center">
                <div class="col-lg-2 col-sm-6 mb-30">
                    <div class="team-wrap text-center" >
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PCSMemzip/Abdul Raheed Khan.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize" style="font-size:18px">Abdul Raheed Khan</a></h3>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>