
@{
    ViewBag.Title = "PSIC";
}
<!-- Main content Start -->
<div class="main-content">
    <h2 class="text-center">PSIC COUNCIL</h2>
    <div class="rs-team grid2 pt-100 pb-70 md-pt-80 md-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Syed Nadeem Hassan Rizvi.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Syed Nadeem Hassan Rizvi</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Zubair Akram.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Zubair Akram</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Azhar Mahmud Kiyani.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Azhar Mahmud Kiyani</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Nouman Naseer.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Nouman Naseer</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Tahir Saghir.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Tahir Saghir</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Kashif Ali Hashmi.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Kashif Ali Hashmi</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Jabar Ali.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Jabar Ali</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Tariq Ashraf.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Tariq Ashraf</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Sohail Aziz.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Sohail Aziz</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Bashir Hanif.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Bashir Hanif</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-wrap">
                        <div class="team-img">
                            <a href="#"><img src="~/Content/PSICMem/Muhammad Nadir Khan.jpeg" alt=""></a>
                        </div>
                        <div class="team-item-text">
                            <div class="team-details">
                                <h3 class="team-name"><a href="#" class="text-capitalize">Muhammad Nadir Khan</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>