@model List<PCS.Models.Session>
@{
    ViewBag.Title = "ScientificSession";
    Layout = "~/Views/Shared/_Register.cshtml";
}
<div class="main-content">
    <div class="container">
        <div class="white-bg">
            @foreach (var lst in Model)
            {
                @Html.Raw(lst.Desc)
            }

            <!--<h2 class="">Scientific Sessions</h2>
    <h3 class="text-center">Friday 30 July 2021 (plenary Session)</h3>
    <h4 class="text-center">Session (5:00 - 7:00)</h4>
    <h4 class="text-center">Moderator: Fazlul Aziz Mian</h4>
    <div class="col-md-12" style="margin-top:-50px">-->
            <!-- Fees Section Start -->
            <!--<div class="rs-faq inner pt-92 md-pt-72 pb-100 md-pb-80">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4>Chairpersons</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Haroon Aziz Khan Baber</li>
                            <li class="list-group-item">Feroz Memon</li>
                            <li class="list-group-item">Mansoor Ahmed</li>
                            <li class="list-group-item">Zubair Akram</li>
                            <li class="list-group-item">Abdul Samad</li>
                            <li class="list-group-item">Muhammad Naeem Malik</li>
                        </ul>
                    </div>
                    <h3 class="text-center">Speakers</h3>
                    <table class="table table-bordered table-active">
                        <tr>
                            <th>Name</th>
                            <th>Topics</th>
                        </tr>
                        <tr>
                            <td>Abid Amin </td>
                            <td>Diebetes and Heart failure</td>
                        </tr>
                        <tr>
                            <td>Shahbaz Ahmed Kureshi</td>
                            <td>The journey of ARNI/ OR Heart failure guidelines 2021</td>
                        </tr>
                        <tr>
                            <td>Hafeez Ullah</td>
                            <td>ARNI in heart failure; Local experience</td>
                        </tr>
                        <tr>
                            <td>Faiez Zannab</td>
                            <td>Your pateint deserve better; The changing landscape of heart failure therapy</td>
                        </tr>
                        <tr>
                            <td>Petar Seferovic </td>
                            <td>SLGT 2 inhibitors in the treatment of heart failure; The game changer has arrived</td>
                        </tr>
                    </table>
                </div>
                <h4 class="text-center">Session (7:00 - 8:30)</h4>
                <h4 class="text-center">Opening Ceremony (7:00 - 7:30)</h4>
                <div class="card-header">
                    <h4>Chairpersons</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Rizwan Taj</li>
                        <li class="list-group-item">Haroon Aziz Khan Baber</li>
                        <li class="list-group-item">Ishtiaq Rasool/ Suhail Aziz</li>
                        <li class="list-group-item">Afzal Mattu</li>
                        <li class="list-group-item">Akhtar Ali Bandeshah</li>
                        <li class="list-group-item">Muhammad Naeem Malik</li>
                    </ul>
                </div>
                <table class="table table-bordered table-active">
                    <tr>
                        <th>Name</th>
                        <th>Topics</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td>Arshad Qyomi</td>
                        <td>State of the art lecture</td>
                        <td>7:30 - 8:30</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="1"><b>Dinner</b></td>
                        <td>8:30</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Saturday 31 July 2021(Session)</h3>
                        <h4 class="text-center">Session (8:30 - 10:30) Hypertention/ Dislipidemia</h4>
                        <h4 class="text-center">Moderator: Syed Nasir Ali Shah</h4>
                    </div>
                    <div class="card-header">
                        <h4>Chairpersons</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Muhammad Naeem Aslam</li>
                            <li class="list-group-item">Ishtiaq Rasool</li>
                            <li class="list-group-item">Muhammad Shafique Arshad</li>
                            <li class="list-group-item">Hafeez Ullah</li>
                            <li class="list-group-item">Imran Saeed</li>
                            <li class="list-group-item">Tariq Abbas</li>
                            <li class="list-group-item">Saboor Ahmed</li>
                        </ul>
                    </div>
                    <table class="table table-bordered table-active">
                        <tr>
                            <th>Name</th>
                            <th>Topics</th>
                        </tr>
                        <tr>
                            <td>Javed Iqbal</td>
                            <td>COVID-19 and CV complications</td>
                        </tr>
                        <tr>
                            <td>Bilal Mohyuddin</td>
                            <td>Treating Hypertension: What I must teach to patients and junior colleagues</td>
                        </tr>
                        <tr>
                            <td>Zhen Ven</td>
                            <td>Update on current use of Antithrombatic in Cardiovascular Disease</td>
                        </tr>
                        <tr>
                            <td>Mikdad Ali Khan</td>
                            <td>Should we switch to ticagretor: Data analysis and update</td>
                        </tr>
                        <tr>
                            <td>Kazmi</td>
                            <td>Diabetes+ Heart Disease</td>
                        </tr>
                        <tr>
                            <td>Mansoor Ahmed</td>
                            <td>Update on Antithrombatic use after PCI</td>
                        </tr>
                        <tr>
                            <td>Ghazala Irfan</td>
                            <td>Inflmmation and Heart failure</td>
                        </tr>
                        <tr>
                            <td>Bilal Ahmed</td>
                            <td>Simple Solution for Complex Problems: Pulmonary Embolism</td>
                        </tr>

                    </table>
                    <h4 class="text-center">Session (10:30 - 12:00) Antithrombotic/Anticoagulants </h4>
                    <h4 class="text-center">Moderator: Nadir Khan</h4>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4>Chairpersons</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Nadeem Hayat Malik</li>
                            <li class="list-group-item">Masood Sadiq </li>
                            <li class="list-group-item">Mohammad Waseem</li>
                            <li class="list-group-item">Muhammad Amir</li>
                            <li class="list-group-item">Asad Saleem</li>
                            <li class="list-group-item">Abid Amin</li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-active">
                            <tr>
                                <th>Name</th>
                                <th>Topics</th>
                            </tr>
                            <tr>
                                <td>Fazlul Aziz Mian</td>
                                <td>Coronary Perferation Nightmare; management strategy</td>
                            </tr>
                            <tr>
                                <td>Athar Mahmood/ Hassan Saleem</td>
                                <td>Cardiac MR</td>
                            </tr>
                            <tr>
                                <td>Mohammad Amjad</td>
                                <td>Retrival of ambolised ASD devices From LA</td>
                            </tr>
                            <tr>
                                <td>Azmat Hayat Khan</td>
                                <td>Cardiac Implantable Devices : laser lead Extraction Novel Technique </td>
                            </tr>
                            <tr>
                                <td>Masood Sadiq</td>
                                <td>Issue and Solution of Intervention in adult congenitel Heart Desease </td>
                            </tr>
                            <tr>
                                <td>Y U Katoka Katoka</td>
                                <td>I was/OCT; Current use in coronory interverntion</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Session (12:00 - 2:00)</h4>
                        <h4 class="text-center">Moderator: Afsar Raza</h4>
                    </div>
                </div>
                <div class="card-header">
                    <h4>Chairpersons</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Jack Tan</li>
                        <li class="list-group-item">Anjam Jalal</li>
                        <li class="list-group-item">Afsheen</li>
                        <li class="list-group-item">Farhan Tayyub</li>
                        <li class="list-group-item">Bashir Hanif</li>
                        <li class="list-group-item">Gen. Azhar Mehmod Kayani</li>
                        <li class="list-group-item">Gen. Sohail Aziz</li>
                        <li class="list-group-item">Fareed Ullah Khan</li>
                    </ul>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-active">
                        <tr>
                            <th>Name</th>
                            <th>Topics</th>
                        </tr>
                        <tr>
                            <td>Farhan Tayyab</td>
                            <td>LMS stenting</td>
                        </tr>
                        <tr>
                            <td>Bilal Mohyuddin/ Arslan</td>
                            <td>Non coronary, non carotid interventions by Cardiologist</td>
                        </tr>
                        <tr>
                            <td>M M H Nuri</td>
                            <td>Interesting Cath Lab Cases; Lesson Learnt</td>
                        </tr>
                        <tr>
                            <td>Asaad Akbar</td>
                            <td>Update on intervention on structural heart desease</td>
                        </tr>
                        <tr>
                            <td>Sohail Aziz</td>
                            <td>CTO treatment</td>
                        </tr>
                        <tr>
                            <td>Asif Janjua</td>
                            <td>Cardiac Surgeon - Update on surgical Management of IHD</td>
                        </tr>
                        <tr>
                            <td>Javed Iqbal</td>
                            <td>NOVEL treatment for intractable angina ;coronary sinus occluder</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>-->
            <!-- Fees Section End -->
            <!--</div>-->
        </div>
        </div>
        </div>
