
@{
    ViewBag.Title = "WorkShop";
    Layout = "~/Views/Shared/_Register.cshtml";
}
<div class="main-content">
    <div class="container">
        <div class="white-bg">
            <h2 class="text-center">Work Shops</h2>
            <div class="col-md-12" style="margin-top:-50px">
                <!-- Fees Section Start -->
                <div class="rs-faq inner pt-92 md-pt-72 pb-100 md-pb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 pr-55 md-pr-15 md-mb-30">
                                <div id="accordion" class="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link" data-toggle="collapse" href="#collapseOne">Saturday</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                            <div class="card-body">
                                                <ol>
                                                    <li>
                                                        ECG workshop in Bhurban Hall (duration: 2 hours)
                                                    </li>
                                                    <li>
                                                        Hypertension Workshop (Duration 1 hour)
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">Sunday</a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <ol>
                                                    <li>
                                                        Aspirin Foundation Workshop (Breakfast meeting)
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fees Section End -->
            </div>
        </div>
    </div>
</div>