
@{
    ViewBag.Title = "Index";
}
<!-- Main content Start -->
<div class="main-content">
    <!-- About one Section Start -->
    <div class="rs-about inner pt-100 lg-pt-92 md-pt-80 pb-100 md-pb-80">
        <div class="container">
            <div class="row y-middle mb-64 lg-mb-30 md-mb-0">
                <div class="col-lg-4 md-mb-95">
                    <div class="image-part">
                        <img src="~/Content/Member/Akhtar Ali bandeshah.jpeg" alt="" style="height:500px">
                    </div>
                </div>
                <div class="col-lg-8 pl-50 md-pl-15 pr-50 lg-pr-15">
                    <div class="sec-title mb-25">
                        <h2 class="title mb-18">Message From Convener</h2>
                        <div class="desc" align="justify">
                            Dear Colleagues, Ladies and Gentlemen,
                            <br />
                            Thank you for joining us in Bhurban, Murree to attend 21st Annual Cardiology update 2021.
                            It’s my pleasure to walk you through the conference, introduce you to the speakers and delegates that have come from all over the globe today to share their knowledge and experience. Today’s conference has more then 200 participants participating from all around the world.
                            Due to the current global COVID-19 pandemic, after careful consideration, the Organizing Committee has decided to conduct 21st Annual Cardiology update in a hybrid format, dated on 30th July to 1st August, 2021 in Pearl Continental, Bhurban.
                            <br />
                            The theme of this conference is the “Updates on use of antithrombotic/ anticoagulants in cardiovascular diseases”. We have experts from across the field who will be staying with us for the next three days, sharing their thoughts, knowledge and opinions with the rest of us.
                            Together the strong support of colleagues at home and abroad, the Cardiology Conference has become an internationally recognized academic platform for sharing achievements, exchanging experience and meeting friends.
                            At this year’s conference, we, as always, are inviting well-known experts and scholars, to bring together hospitals and medical institutions to maximize participation. The conference aims to open up emerging academic areas and to broadly communicate trends and discoveries which are at the forefront of our field.  It will bring multi-dimensional, concrete, and brand-new perspectives and concepts to colleagues in the cardiovascular field.
                            <br />
                            As part of our efforts to control the COVID-19 epidemic, the treatment and prevention of cardiovascular disease has became a critical part of the overall effort. As the morbidity and mortality of COVID-19 patients having IHK and related comorbidities is many fold.
                            We have special gratitude for our foreign faculty who are participating either virtually or have come all the way to make this conference a success.
                            We wish that our next cardiology update will be without COVID-19 restrictions and we will enjoy together the scenery and beautiful valley.
                            Finally, on behalf of the organizing committee, I would like to invite all cardiovascular fellows to participate in this meeting. I would also express my sincere gratitude to all colleagues, domestic and foreign academic institutions, societies and enterprises for their strong support. I also wish to extend my respect to those colleagues who are still fighting at the front lines of the epidemic.
                            I would like to conclude my speech by encouraging the delegates to participate with an increasing number in all the activities and discussions through the digital platforms for the next three days. I wish everyone a successful, safe and fruitful conference.
                            <br />
                            Thank You
                            <br />
                            Convener
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <!-- About Second Section Start -->
    <div class="rs-about inner pt-100 lg-pt-92 md-pt-80 pb-100 md-pb-80">
        <div class="container">
            <div class="row y-middle mb-64 lg-mb-30 md-mb-0">
                <div class="col-lg-4 md-mb-95">
                    <div class="image-part">
                        <img src="~/Content/Member/About2.jpeg" alt="" style="height:500px">
                    </div>
                </div>
                <div class="col-lg-8 pl-50 md-pl-15 pr-50 lg-pr-15">
                    <div class="sec-title mb-25">
                        <h2 class="title mb-18">Message from the Patron-in-Chief's desk</h2>
                        <div class="desc" align="justify">
                            As the Patron in Chief of Annual Cardiology updates 2021, I take great pride in extending my warm welcome to all the attendees of this conference, presenters and participants. This Annual Scientific Meeting, one of the anticipated events every year, has always covered a wide range of hot and practical topics and is well-received. Cardiology Case Presentation Forums specially for our young members and fellows have been held annually to enhance the professionalism and embrace the highest standard of care in cardiovascular medicine. Efforts aimed at public education in cardiovascular health care are also conceived and planned to act at community level in cardiac care and risk factor prevention.
                            <br />
                            Annual Cardiology Updates 2021 is expected to gather over 300 Cardiologists and Allied professionals from twin cities and elsewhere. The scientific program will cover a wide range of topics related to cardiovascular disorders including Acute Coronary Syndrome, Cardiac Arrhythmia and Electrophysiology, Interventional Cardiology, Congenital Heart Disease, Cardiopulmonary Resuscitation, Valvular Heart Disease and Hypertension.
                            <br />
                            In addition to being an excellent forum for information sharing, it will also provide a good opportunity to connect with people working in the field of cardiology in the region. We guarantee that you will find this conference stimulating, enriching and much needed in the wake of the ongoing pandemic. I also believe that this conference will provide opportunities for sharing and exchanging original research ideas and opinions and broadening knowledge about the recent advances in Cardiology.
                            <br />
                            I would like to express my sincere appreciation for all members of my organizing committee for the time and energy they have devoted to editing the proceedings and arranging the logistics of holding this conference.
                            <br />
                            I am confident that you will have a memorable time and enjoy your stay in the scenic milieu of Bhurban besides the scientific experience. It is only with your contribution that we can ensure the success of this conference so I will encourage all my peers to actively participate in the most prestigious event of the year.

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <!-- Team Section Start -->
    <div id="rs-team" class="rs-team slider1 pt-92 pb-92 md-pt-72 md-pb-50">
        <div class="container">
            <div class="sec-title text-center mb-60 md-mb-42">
                <h2 class="title mb-14">Organizing Committee</h2>
            </div>
            <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-lg-device="4" data-md-device-nav="false" data-md-device-dots="true">
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Fazlul Aziz mian.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Fazlul Aziz Mian</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Mehboob ur Rehman.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Mehboob ur Rehman</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Muhammad naeem malik.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Muhammad Naeem Malik</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Syed Nasir Ali shah.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Syed Nasir Ali shah</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/M. Shafique Arshad.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">M.Shafique Arshad</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Akhtar Ali bandeshah.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Akhtar Ali Bandeshah</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Section End -->
</div>
<!-- Main content End -->