
@{
    ViewBag.Title = "Index";
}
<!-- Main content Start -->
<div class="main-content">
    <!-- Breadcrumbs Section Start -->
    <div class="rs-breadcrumbs bg-1">
        <div class="container">
            <div class="content-part text-center">
                <h1 class="breadcrumbs-title white-color mb-0">About Us</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs Section End -->
    <!-- About Section Start -->
    <div class="rs-about inner pt-100 lg-pt-92 md-pt-80 pb-100 md-pb-80">
        <div class="container">
            <div class="row y-middle mb-64 lg-mb-30 md-mb-0">
                @*<div class="col-lg-6 md-mb-95">
                        <div class="image-part">
                            <img src="assets/images/about/inner/left-img.jpg" alt="">
                            <div class="author-info">
                                <h3 class="name">Marlina Moore</h3>
                                <span class="designation">CEO & Founder</span>
                            </div>
                        </div>
                    </div>*@
                <div class="col-lg-12 pl-50 md-pl-15 pr-50 lg-pr-15">
                    <div class="sec-title mb-25">
                        <div class="sub-title primary">About Us</div>
                        <h2 class="title mb-18">21<sup>st</sup> Annual Cardiology Update</h2>
                        <div class="desc">
                            Cardiology Conference 2021 will focus on most recent advancements in all aspects of cardiology.This year’s theme is “Updates on use of anti thrombotic/anticoagulants in cardiovascular diseases”. other aspects are Cardiovascular diseases Pediatric Cardiology, Stem Cell Research and Regeneration on Cardiology, Heart Transplantation, Intervention Cardiology and Radiology, includes prompt keynote presentation, Speaker presentations, Poster presentation and exhibitions to gain more information and meet leading Cardiology researchers and potential investigators and get recognition at this 3-day event.
                            The conference Organizing Committee remains vigilant in monitoring the COVID-19 pandemic and this event is planned as hybrid format with both onsite and virtual versions and will allow participants who, for a variety of reasons, can’t be able to join the in-person conference in France. We believe that our decision will allow many more people to participate in Cardiology Conference 2021.
                            Let’s meet at Cardiology conference 2021 with the most magnificent gatherings around the world that provides an assertion to discover the latest knowledge and innovations in the field of Cardiology.
                        </div>
                    </div>
                    @*<ul class="listing-style2 mb-33">
                            <li>Production or Trading of Good or Services for Sale</li>
                            <li>Cost of supplies and equipment</li>
                            <li>Change in the volume of expected sales</li>
                            <li>Change in the volume of expected sales</li>
                            <li>Change in the volume of expected sales</li>
                        </ul>*@
                    <div class="btn-part">
                        <a class="readon" href="#">21<sup>st</sup> Annual Cardiology Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <!-- Team Section Start -->
    <div id="rs-team" class="rs-team slider1 pt-92 pb-92 md-pt-72 md-pb-50">
        <div class="container">
            <div class="sec-title text-center mb-60 md-mb-42">
                <h2 class="title mb-14">Organizing Committee</h2>
            </div>
            <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-lg-device="4" data-md-device-nav="false" data-md-device-dots="true">
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Fazlul Aziz mian.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Fazlul Aziz Mian</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Mehboob ur Rehman.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Mehboob ur Rehman</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Muhammad naeem malik.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Muhammad Naeem Malik</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Syed Nasir Ali shah.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Syed Nasir Ali shah</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/M. Shafique Arshad.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">M.Shafique Arshad</a></h4>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="team-image">
                        <img src="~/Content/Member/Akhtar Ali bandeshah.jpeg" alt="Team Image">
                    </div>
                    <div class="text-bottom">
                        <h4 class="person-name"><a href="#">Akhtar Ali Bandeshah</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Section End -->
</div>
<!-- Main content End -->